.background{
background: linear-gradient(DeepSkyBlue, Black);
}
.table{
  margin-right: 3%;
  margin-left: 3%;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  vertical-align: middle;
}
  
